@font-face {
  font-family: "iconfont"; /* Project id 3706802 */
  src: url('iconfont.woff2?t=1665744816741') format('woff2'),
       url('iconfont.woff?t=1665744816741') format('woff'),
       url('iconfont.ttf?t=1665744816741') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiaoquanping:before {
  content: "\eb10";
}

.icon-quanping:before {
  content: "\eb11";
}

